:host {
  display: block;
  height: 100%;
}

.recipes {
  height: 100%;

  &-wrapper {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  }
}

.recipe-card-wrapper {
  //margin: 10px;
}
