@import "./src/styles/color";

:host {
  display: block;
  height: 100%;
}

.welcome {
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 48px;
  font-weight: 500;
}

