@import "./src/styles/color";

:host {
  height: 100%;
  display: block;
}

.not-found-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray;
  overflow-y: auto;
  user-select: none;

  &__code {
    font-size: 165px;
    font-weight: 500;
  }
}
